$text-color-black: #333;
$bgcolor:#5F5F5F;

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    color: #fff;
}

// 橫幅
#banner {
    height: 100vh;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    margin-top: -100px;
    display:grid;
    align-items: center;

    div{
        width: 800px;
        margin: 0 auto;
        text-align: center;

        h1{
            font-size: 56px;
            color:black;
        }

        h2{
            font-size: 20px;
            color:black;
        }

    }
}

nav {
    display: grid;
    grid-template-columns: auto 70px auto;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100px;
    // 使用格線可讓內容垂直對齊
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    ul {
        list-style: none;

        li {
            display: inline-block;
            transition: 0.5s;

            a {
                text-decoration: none;
                color: #fff;
                padding: 15px;
                font-weight: 900;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    img {
        width: 80px;
        transition: 0.5s;
        transform: scaleX(-1);

        &:hover {
            transform: scaleX(-1.2) scaleY(1.2);
        }
    }
}

// 文章區域
.content {
    max-width: 1200px;
    display: grid;
    margin: 30px auto;
    grid-template-columns: 1fr 1fr;

    * {
        color: $text-color-black;
    }

    .pic {
        // 格線區域名稱：自行命名
        grid-area: pic;

        img{
            width: 570px;
            object-fit: cover;
        }
        
    }

    .text-area {
        grid-area: text-area;
        display: grid;
        align-items: center;

        h2 {
            padding: 20px 0;
        }

        p {
            line-height: 1.8;
            margin-bottom: 30px;
        }

        a {
            border: 1px solid $text-color-black;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 30px;
            transition: 0.8s;

            &:hover {
                background-color: $text-color-black;
                color: #fff;
            }
        }
    }
}

#content-1, #content-3 {
    // 設定格線區域：'區域名稱 區域名稱'
    grid-template-areas: 'pic text-area';
}
#content-2 {
    grid-template-areas: 'text-area pic';
}
// 圖示
#icon {
    background-color: $bgcolor;

    * {
        color: $text-color-black;
    }

    div {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        div{
            display: block;
            text-align: center;
            transition: 0.5s;
            opacity: 0.8;
            

            &:hover{
               opacity: 1;
               transform: scale(1.1);
            }
        }

        img{
            display: block;
            width: 58px;
        }

        span{
            display: block;
            color: #fff;
            font-weight: 400;
            padding: 10px 0;
            font-size: 12px;

        }
    }
}
